/* Tablet and LandScape Mode Device */
@media only screen and (min-width:577px) and (max-width:992px){
    .accuracy {
        margin-left: 9.6vw;
    }
    .modal-header {
        margin: 0.5% 0% 0% 80%;
    }
}
/* Mobile and Potrait Mode Device */
@media only screen and (max-width:576px){
    .accuracy {
        margin-left: 48.6vw;
    }
    .modal-header {
        margin: 2% 0% 0% 80%;
    }
    .modal-header button{
        background-color: red;
       
        height: 20px;
        width: 20px;
    }
}