

/* Loading Spinner Styls */
#loading-spinner img{
    height: 5vw;
    width: 5vw;
}

/* Date Img */
.date-img img{
    height: 20px;
    width: 20px;
}
.publish-data{
    padding-top: 2px;
}
.right-arrow{
    border: hidden;
    background-color: rgba(255, 0, 0, 0.174);
    border-radius: 50%;
}
.right-arrow img{
    height: 30px;
    padding: 8px;
}

/*  */
.modal{
    position: relative;
}
.modal-header {
    position: absolute;
    margin: 2.5% 0% 0% 85%;
    z-index: 2;
}
.modal-header button{
    background-color: red;
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

#leftCardTitle{
    line-height: 1.5;
}

/* Modal Accuracy */
#right-div{
    position: relative;
}
.accuracy {
    position: absolute;
    margin-left: 22.7vw;
}

.modal-card1{
    background-color: red;
}
